

<nav data-th-fragment="user-navbar" class="bg-white dark:bg-custom-dark fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600 pl-64">

    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <!-- Brand Logo -->
        <a data-th-src="@{'/'}"
           class="flex items-center space-x-3 rtl:space-x-reverse">
            <img data-th-src="@{'/images/SCOR-Logo.png'}"
                 class="h-8 shadow-lg rounded-lg"
                 alt="SCOR Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SCOR</span>
        </a>
        <!-- Logo ends -->

        <!-- Navbar Right Content -->
        <div class="flex gap-4 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

            <!-- Theme Toggle Button -->
            <button id="theme-change-btn"
                    class="px-3 py-2 rounded dark:text-white">
                <i class="fa-solid fa-circle-half-stroke"></i></button>

            <!-- Profile dropdown -->
            <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" data-th-src="${userLogged.profilePicLink}" alt="user photo">
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                    <div class="px-4 py-3">
                        <span data-th-text="${userLogged.sUserName}" class="block text-sm text-gray-900 dark:text-white"></span>
                        <span data-th-text="${userLogged.email}" class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a data-th-href="@{/user/dashboard}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                        </li>
                        <li>
                            <form id="logout-form" data-th-action="@{'/logout'}" method="post">
                                <a href="#" onclick="document.getElementById('logout-form').submit();"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                    Sign out
                                </a>
                            </form>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- Logout Button -->
            <form data-th-action="@{/logout}" method="post" class="ml-4">
                <button type="submit"
                        class="text-white bg-gray-800 hover:bg-gray-900
            focus:ring-4 focus:outline-none focus:ring-blue-300
            font-medium rounded-lg text-sm px-4 py-2 text-center
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                ><i class="fa-solid fa-sign-out-alt"></i></button>
            </form>

       </div>

        <!-- Navbar Middle Content -->
        <div class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-sticky">

            <button type="button" data-collapse-toggle="navbar-search"
                    aria-controls="navbar-search" aria-expanded="false"
                    class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700
                    focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
            <div class="relative block">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search icon</span>
                </div>
                <input type="text" id="search-navbar"
                       class="block w-full p-2 ps-10 text-sm text-gray-900
                       border border-gray-300 rounded-lg bg-gray-50
                       focus:ring-blue-500 focus:border-blue-500
                       dark:bg-gray-700 dark:border-gray-600
                       dark:placeholder-gray-400 dark:text-white
                       dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search...">
            </div>

        </div>

    </div>

</nav>
