<!doctype html>
<html

        lang="en"
        th:fragment="parent(content,title,script,link)"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-th-replace="${title}">SCOR</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
    <th:block data-th-replace="${link}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- Common Header comes here -->

<div data-th-replace="~{navbar :: navbar}"></div>

<!-- The Main Content comes here dynamically  -->
<div class="p-4 h-screen w-full mt-16 dark:bg-gray-300">
    <section data-th-replace="${content}"></section>
</div>

<!-- Common Footer comes here -->
<footer class="bg-gray-200 p-4 text-center">
    <p>© 2024 SCOR. All Rights Reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<th:block data-th-replace="${script}"></th:block>
<script data-th-src="@{'/js/script.js'}"></script>
</body>
</html>