
<!-- For Testing Purpose -->

<!DOCTYPE html>
<html lang="en"
    data-th-replace="~{base::parent(~{::#content},~{::#main-title},~{::script},~{})}">
<head>
    <title id="main-title">SCOR | Home</title>
</head>
<body>
<div id="content" class="mb-2">
    <!-- this would be passed to the base template in the parameter -->
    <img data-th-src="@{'/images/landing-page.png'}" alt="Hero Banner" class="w-full h-screen p-4" />

</div>
<script>
    console.log('Hello from Home Page');
</script>
<script>
    console.log('Hope this development phase will be completed soon');
</script>
</body>
</html>
