


<!doctype html>
<html lang="en"
      data-th-replace="~{base::parent(~{::#content},~{::#main-title},~{::script},~{})}">
<head>
    <title id="main-title">Services</title>
</head>
<body>
<div id="content">
    <!-- this would be passed to the base template in the parameter -->
    <h1>Welcome to Services Page</h1>
    <p>This is a development phase</p>
</div>
<script>
    console.log('Hello from Services Page');
</script>
<script>
    console.log('Hope this development phase will be completed soon');
</script>
</body>
</html>